.AvatarsSection {
  border: 0;
  background-image: linear-gradient(180deg, rgba(20,20,20,0) 90%, rgba(255,255,255,0.8) 100%),url(../public/images/bg_landing_balls.png);
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll;
  background-size: cover !important;
  /* position: relative; */
  /* top: 0; */
  /* height: 100vh; */
  display: block;

  /* @media (min-width: 1024px) {
    height: 100vh;
  } */
}

.sandboxLogo {
  @apply mt-24;
  margin-top: 50px;
}


.AvatarsSectionContent {
  @apply hidden lg:flex lg:justify-center pb-40 gap-20;
}

.AvatarDescription {
  @apply relative block mx-6 leading-5 text-white rounded-2xl w-[160px];
}

.AvatarDescription h3 {
  @apply font-base font-bold xl:text-xl uppercase text-white italic text-center;
}

.AvatarDescription p {
  @apply font-base font-bold text-base text-violet w-full text-lg pt-16;
}