.AvatarsSection {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background-image: url(../public/images/bg_landing.png);
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll;
  background-size: cover !important;
  position: relative;
  display: block;
}

.logo {
  @apply flex flex-col items-center gap-24 pt-56;
}

.sandboxLogo {
  @apply mt-24;
  margin-top: 50px;
}

.AvatarsSectionContent {
  @apply flex justify-center pb-24;
}

.AvatarItem {
  @apply flex flex-col items-center cursor-pointer w-[220px];
}

/* .AvatarItem:first-child {
  margin-left: 0;
} */

.AvatarDescription {
  @apply flex flex-col items-center;
}

.AvatarDescription h3 {
  @apply font-base font-bold text-2xl uppercase text-black text-center;
}

.AvatarDescription p {
  @apply font-base text-base text-black border-b border-black w-fit;
}

.Avatar {
}

.Avatar .ImageGif {
  display: none !important;
}

.Avatar:hover .ImageStatic {
  visibility: hidden;
}

.Avatar:hover .ImageGif {
  display: block !important;
}
