.bannerContainer {
  @apply container flex items-center;
}

.descriptionContainer {
  @apply w-1/2 pr-30;
}

.playLikeKunSection {
  @apply bg-primary-color-500 w-full py-20;
}

.playLikeKunTitle {
  @apply font-base font-bold text-5xl uppercase text-white mb-24;
}

.playLikeKunText {
  @apply font-base text-base text-white;
}

.imageContainer {
  @apply w-1/2 flex justify-between;
}

.EnterKuniverseSection {
  @apply bg-white w-full py-60;
}

.EnterKuniverseSection .description {
  @apply w-1/2 pl-40;
}

.EnterKuniverseTitle {
  @apply font-base font-bold text-5xl uppercase text-primary-color-500;
}

.EnterKuniverseText {
  @apply font-base text-base text-black mt-24;
}

.LetsPlayBanner {
  @apply container flex items-center;
}

.textContainer {
  @apply pr-40;
}

.videoFrameContainer {
  padding: 56.25% 0 0 0;
  position: relative;
}
.videoFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
