.bannerContainer {
  @apply container flex flex-col md:flex-row items-center py-32 px-32 md:py-0 lg:px-0;
}

.descriptionContainer {
}

.playLikeKunSection {
  @apply bg-primary-color-500 w-full py-20;
}

.playLikeKunTitle {
  @apply font-base font-bold text-2xl lg:text-5xl uppercase text-white mb-24 text-center md:text-left;
}

.playLikeKunText {
  @apply font-base text-sm lg:text-base text-white text-center md:text-left;
}

.imageContainer {
  @apply w-full md:w-1/2 flex justify-center lg:justify-between mt-32 md:mt-0 relative;
}

.videoContainer {
  @apply w-full md:w-1/2;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.videoFrame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.EnterKuniverseSection {
  @apply bg-white w-full;
}

.EnterKuniverseSection .description {
  @apply w-full md:w-1/2 md:pl-40;
}

.EnterKuniverseTitle {
  @apply font-base font-bold text-2xl lg:text-5xl uppercase text-primary-color-500 text-center md:text-left mt-24 md:mt-0;
}

.EnterKuniverseText {
  @apply font-base text-base text-black mt-24 text-center md:text-left;
}

.LetsPlayBanner {
  @apply container flex flex-col md:flex-row items-center py-32 px-32 md:py-0 lg:px-0 min-h-[440px];
}

.LetsPlayImageContainer {
  @apply w-full md:w-1/2 flex justify-center lg:justify-between mt-32 md:mt-0 relative;
}

.LetsPlayImage {
  @apply relative md:absolute md:-top-[330px];
}

.textContainer {
  @apply w-full md:pr-56;
}

.videoFrameContainer {
  padding: 56.25% 0 0 0;
  position: relative;
}
.videoFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
