@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* HEADER */

.header-container {
  @apply font-base overflow-x-hidden;
}

.header.active {
  @apply bg-primary-color-100 shadow-header-shadow;
}

.header.active-white {
  @apply bg-primary-color-100 shadow-none;
}

.main-nav {
  @apply w-auto transition-all;
}

.main-nav-link {
  @apply block transition uppercase text-white font-bold;
}

.main-nav-link:not(.btn-small) {
  @apply lg:hover:text-primary-color;
}

.main-nav-link.active {
  @apply text-white bg-primary-color lg:text-black lg:bg-transparent;
}

.contact {
  @apply hover:text-white;
}

.mobile-main-nav {
  @apply h-auto py-8 lg:hidden w-full absolute top-0 left-0;
  @apply text-center bg-primary-color-100 bg-opacity-80 backdrop-blur -translate-y-[200%];
  @apply border border-white border-opacity-10 shadow-header-shadow;
  @apply transition-all ease-in-out duration-300;
}

.mobile-main-nav.active {
  @apply bg-opacity-100 translate-y-[70px];
}

.mobile-main-nav .main-nav-link {
  @apply block p-10;
}

.burger-icon {
  @apply w-24 h-24 py-2 flex flex-col items-center justify-center relative;
}

.burger-icon.active span:nth-child(1) {
  @apply absolute left-0 rotate-45;
}

.burger-icon.active span:nth-child(2) {
  @apply absolute left-0 -rotate-45;
}

.burger-icon.active span:nth-child(3) {
  @apply hidden;
}

.burger-icon span {
  @apply w-full h-2 bg-white transition;
}

.burger-icon span:not(:last-child) {
  @apply mb-5;
}
