.main {
  padding-top: 56px;
}

/* .heroSection {
  height: 700px;
  width: 100%;
  padding-top: 30px;
  z-index: 10;
} */

.footer {
  @apply flex flex-col justify-center items-center md:flex-row md:justify-between;
  width: 100%;
  flex: 1;
  padding: 2rem 4rem;
  background: radial-gradient(
    74.52% 132.36% at 50% 50.14%,
    #666666 22%,
    #606060 34%,
    #4f4f4f 50%,
    #333333 68%,
    #0d0d0d 88%,
    #000000 95%
  );
}

.footer .footerLogos {
  @apply flex items-center gap-24 mb-24 md:mb-0 justify-center md:justify-between;
}

.footer .footerMedia {
  @apply flex items-center gap-24 justify-center md:justify-between;
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
