.main {
  padding-top: 56px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection {
  background-color: rgba(255, 255, 255, 0.5);
  height: 700px;
  width: 100%;
  padding-top: 30px;
  z-index: 10;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  flex: 1;
  padding: 2rem 4rem;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(
    74.52% 132.36% at 50% 50.14%,
    #666666 22%,
    #606060 34%,
    #4f4f4f 50%,
    #333333 68%,
    #0d0d0d 88%,
    #000000 95%
  );
}

.footer .footerLogos {
  @apply flex items-center gap-24;
}

.footer .footerMedia {
  @apply flex items-center gap-24;
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
