/* Video Section Module */

.videoContainer {
  @apply font-base relative min-h-[750px];
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background-color: #f3d5e6;
  background-image: url(../public/images/bg_video_section.png);
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll;
  background-size: cover !important;
  position: relative;
  display: block;
}

.titleVideo {
  @apply font-base absolute inset-0 flex flex-col items-center mt-80;
}

.titleVideo h1 {
  @apply font-base font-bold text-4xl	uppercase text-primary-color-500;
}

.titleVideo h2 {
  @apply font-base font-bold text-4xl	uppercase text-black mb-20;
}

.titleVideo p {
  @apply text-base font-base text-black;
}

.videoContent {
  @apply bg-black p-10 mt-24;
}

.videoContent h3 {
  @apply text-white font-semibold font-base uppercase text-center mb-10;
}
